<footer>

    <div class="logo_footer tamanho">
        <img src="../../assets/img/logo filme collection preto.png" alt="logo filme collection preto">
    </div>
    
    <div class="tamanho">
        <div class="linha"></div>
    </div>

    <div class="footer_texto tamanho">
        <p class="contato_texto">Company Inc., 8901 Marmora Road, Glasgow, D04 89GR</p>
        <p class="contato_texto">Call us now toll free: (800)2345-6789</p>
        <p class="contato_texto">Customer support: support@demolink.org</p>
        <p class="contato_texto">Skype: sample-username</p>
    </div>

</footer>