<app-header></app-header>

<app-nav></app-nav>

<main>

    <h2 class="titulo_cadastro">Cadastro</h2>

    <form [formGroup]="form">

        <div class="inputs">

            <table cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label class="nome">Nome</mat-label>
                            <input matInput formControlName="nome" required>
                        </mat-form-field>
                    </td>
            </table>

            <table cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label class="email">Email</mat-label>
                            <input matInput formControlName="email" required>
                        </mat-form-field>
                    </td>
            </table>

            <table cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label class="telefone">Telefone
                            </mat-label>
                            <input matInput formControlName="numero" required>
                        </mat-form-field>
                    </td>
            </table>


        </div>

        <div class="button">
            <button mat-raised-button class="botao" (click)="salvarDadosUsuario()" [disabled]="!form.valid" *ngIf="!botaoEditar">Cadastrar</button>
            <button mat-raised-button class="botao" (click)="editarUsuario()" *ngIf="botaoEditar">Editar</button>
        </div>
    </form>

    <div class="usuarios_geral">

        <div class="usuarios" *ngFor="let dado of usuarios; index as i; trackBy: trackUser">

            <div>
                <div>
                    <p>{{dado.nome}}</p>
                </div>
            </div>

            <div>
                <div>
                    <p>{{dado.email}}</p>
                </div>
            </div>

            <div>
                <div>
                    <p>{{dado.numero}}</p>
                </div>
            </div>

            <div>
                <button mat-raised-button class="editar" (click)="alterarDadosUsuario(dado)">Editar</button>
                <button mat-raised-button class="excluir" [swal]="{
                    title:'ATENÇÃO',
                    text: 'Você realmente deseja excluir '+dado.nome+'?',
                    showDenyButton: true,
                    denyButtonText: 'não',
                    confirmButtonText: 'sim',
                    icon: 'warning'
                }"(confirm)="excluir(dado.id)">Excluir</button>
            </div>

        </div>

    </div>

</main>

<app-footer></app-footer>