<app-header></app-header>

<app-nav></app-nav>

<main>

    <h2 class="titulo_cadastro">Cadastro</h2>

    <div class="inputs">

        <table cellspacing="0">
            <tr>
                <td>
                    <mat-form-field appearance="fill">
                        <mat-label class="nome">Nome</mat-label>
                        <input matInput>
                    </mat-form-field>
                </td>
        </table>

        <table cellspacing="0">
            <tr>
                <td>
                    <mat-form-field appearance="fill">
                        <mat-label class="email">Email</mat-label>
                        <input matInput>
                    </mat-form-field>
                </td>
        </table>

        <table cellspacing="0">
            <tr>
                <td>
                    <mat-form-field appearance="fill">
                        <mat-label class="telefone">Telefone
                        </mat-label>
                        <input matInput>
                    </mat-form-field>
                </td>
        </table>


    </div>

    <div class="button">
        <button mat-raised-button class="botao">Cadastrar</button>
    </div>
    
        <div class="usuarios_geral">

            <div class="usuarios">
    
                <div>
                    <div>
                        <p>Paulo Andre</p>
                    </div>
                </div>
    
                <div>
                    <div>
                        <p>paulo@email.com</p>
                    </div>
                </div>
    
                <div>
                    <div>
                        <p>3349 6788</p>
                    </div>
                </div>

                <div>
                    <button mat-raised-button class="editar">Editar</button>
                    <button mat-raised-button class="excluir">Excluir</button>
                </div>
    
            </div>
    
            <div class="usuarios">
    
                <div>
                    <div>
                        <p>Marcos Lucio</p>
                    </div>
                </div>
    
                <div>
                    <div>
                        <p>marcos@email.com</p>
                    </div>
                </div>

                <div>
                    <div>
                        <p>3349 6788</p>
                    </div>
                </div>
    
                <div>
                    <button mat-raised-button class="editar">Editar</button>
                    <button mat-raised-button class="excluir">Excluir</button>
                </div>
    
            </div>

            <div class="usuarios">
    
                <div>
                    <div>
                        <p>Laura Port</p>
                    </div>
                </div>
    
                <div>
                    <div>
                        <p>laura@email.com</p>
                    </div>
                </div>

                <div>
                    <div>
                        <p>3349 6788</p>
                    </div>
                </div>
    
                <div>
                    <button mat-raised-button class="editar">Editar</button>
                    <button mat-raised-button class="excluir">Excluir</button>
                </div>
    
            </div>
    
        </div>

</main>

<app-footer></app-footer>
