.header{
    display: flex;
    align-items: center;
    background-color: #9BD2DE;
}

.header-elementos{
    width: 1000px;
    margin: auto;
}

.header .logo{
    max-width: 150px;
}

.header .title-group{
    padding-left: 25px;
}

