<app-header></app-header>

<app-nav></app-nav>

<main>
    <div class="titulo_e_logo">
        <h2>Gêneros</h2>
        <img src="../../assets/img/theater 1.png" alt="Logo teatro">
    </div>

    <div>

        <b>Cadastras Gênero</b>

        <div class="cadastras_genero">
            <table cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="tamanho_input" appearance="fill">
                            <mat-label>Gênero</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </td>
            </table>

            <div>
                <button mat-raised-button class="botao">Salvar</button>
            </div>
        </div>

    </div>

    <div class="filmes_geral">

        <div class="filmes">

            <div>
                <div>
                    <p>Terror</p>
                </div>
            </div>

            <div>
                <button mat-raised-button class="editar">Editar</button>
                <button mat-raised-button class="excluir">Excluir</button>
            </div>

        </div>

        <div class="filmes">

            <div>
                <div>
                    <p>Ação</p>
                </div>
            </div>

            <div>
                <button mat-raised-button class="editar">Editar</button>
                <button mat-raised-button class="excluir">Excluir</button>
            </div>

        </div>

        <div class="filmes">

            <div>
                <div>
                    <p>Comédia</p>
                </div>
            </div>

            <div>
                <button mat-raised-button class="editar">Editar</button>
                <button mat-raised-button class="excluir">Excluir</button>
            </div>

        </div>

    </div>

</main>

<app-footer></app-footer>