<app-header></app-header>

<app-nav></app-nav>

<main>
<section class="sessao_1">
	<div>
		<h1>Monte sua coletânea de filmes...</h1>
	</div>
	<div>
		<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto ab culpa accusantium earum laboriosam</h2>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi voluptates esse ratione delectus quas voluptatem consequatur necessitatibus, consequuntur fuga? Incidunt aut perspiciatis quisquam itaque amet sed dolore repellendus vel commodi?</p>
	</div>
</section>
<section class="sessao_2">
	<div>
        <img src="../../assets/img/cinema 1.png" alt="logo Filmes">
		<h3><b>Filmes</b></h3>
		<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque incidunt quod quisquam, voluptatum eos eum est eveniet non molestias explicabo animi consectetur, sapiente inventore similique commodi voluptas facilis. Iste, ad!</p>
	</div>
	<div>
        <img src="../../assets/img/theater 1.png" alt="logo teatro">
		<h3><b>Categoria</b></h3>
		<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam doloribus in saepe eligendi sequi deleniti, temporibus nobis, atque blanditiis aliquid quisquam consectetur dolor illo rem. Sed voluptates impedit soluta provident!</p>
	</div>
</section>
</main>

<app-footer></app-footer>