<app-header></app-header>

<app-nav></app-nav>

<main>

    <div class="titulo_e_logo">
        <h2>Filmes</h2>
        <img src="../../assets/img/cinema 1.png" alt="Logo filmes">
    </div>

    <div>

        <b>Cadastras Filmes</b>

        <form [formGroup]="form">
            <div class="cadastras_filmes">
                <table cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="tamanho_input" appearance="fill">
                                <mat-label>Título do Filme</mat-label>
                                <input matInput formControlName="nome" required>
                            </mat-form-field>
                        </td>
                </table>

                <div>
                    <mat-form-field appearance="fill" class="tamanho_input">
                        <mat-label>Gênero</mat-label>
                        <mat-select disableRipple formControlName="generoId" required>
                            <mat-option [value]="dado.id" *ngFor="let dado of genero; index as i;">{{dado.nome}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div>
                    <button mat-raised-button class="botao" (click)="salvarDadosFilme()" [disabled]="!form.valid">Salvar</button>
                </div>
            </div>
        </form>

    </div>

    <div class="filmes_geral">

        <div class="filmes" *ngFor="let dado of filmes; index as i; trackBy: trackUser">

            <div>
                <div>
                    <p>{{dado.nome}}</p>
                </div>
            </div>

            <div>
                <div>
                    <p>{{dado.genero?.nome}}</p>
                </div>
            </div>

            <div>
                <button mat-raised-button class="editar">Editar</button>
                <button mat-raised-button class="excluir" [swal]="{
                    title:'ATENÇÃO',
                    text: 'Você realmente deseja excluir '+dado.nome+'?',
                    showDenyButton: true,
                    denyButtonText: 'não',
                    confirmButtonText: 'sim',
                    icon: 'warning'
                }"(confirm)="excluir(dado.id)">Excluir</button>
            </div>

        </div>
    </div>
</main>

<app-footer></app-footer>